{{> header}}
<div class="user container">

    <form class="user__form" action="/user/create" name="user" method="post">
        <table class="user__form__table">
            <tr class="user__form__para"><td class="user__form__text">First Name:</td><td><input class="user__form__input" type="text" name="firstName" /></td></tr>
            <tr class="user__form__para"><td class="user__form__text">Last Name:</td><td><input class="user__form__input" type="text" name="lastName" /></td></tr>
            <tr class="user__form__para"><td class="user__form__text">email:</td><td><input class="user__form__input" type="text" name="email" /></td></tr>
            <tr><td><input class="user__form__submit button" type="submit" value="Create" /></td></tr>
        </table>
    </form>

</div>

{{> footer}}
