{{> header}}

<h1>{{title}}</h1>

<div class="user">

    <section>
        <header class="user-header">
            {{#user}}
            <p>Name: {{firstName}} {{lastName}}</p>
            <p>email: {{email}}</p>
            {{/user}}
        </header>
    </section>

</div>

{{> footer}}
