{{> header}}

<article class="user__article container">

    <section class="user__section">
        {{#user}}
        <p class="user__section__para">Name: {{firstName}} {{lastName}}</p>
        <p class="user__section__para">email: {{email}}</p>
        {{/user}}
        <p><a class="user__section__link button" href="/">Back</a></p>
    </section>

</article>

{{> footer}}
