{{> header}}
<article class="user__article container">
    <header class="user__header">
        <p><a class="user__header__link button" href="/user/create">Create New User</a></p>
    </header>

    {{#users}}
    <section class="user__section">
        <p><a class="user__section__link" href="/user/{{id}}">{{firstName}} {{lastName}}</a></p>
    </section>
    {{/users}}

</article>

{{> footer}}
