{{> header}}

<h1>{{title}}</h1>

<div class="users">

    {{#users}}
    <section>
        <header class="user-header">
            <h2><a href="/user/{{id}}">{{firstName}} {{lastName}}</a></h2>
        </header>
    </section>
    {{/users}}

</div>

{{> footer}}
